@font-face {
    font-family: 'Roboto', sans-serif;
    src : url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Roboto:wght@500&display=swap');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Inter', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// font-family: 'Roboto', sans-serif;