footer {
    background-color: white;
    height: 543px;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;

    .divFooter{
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows: 80% 20%;
        width: 80%;
        background-color: white;
        border-top: 2px solid  #F9DE4E;
       
        

        .titleFooter {
            width : 50%;
            height: 90%;

            h3 {
                font-size: 48px;
                font-weight: 600;
                width: fit-content;
                color: black;
                padding : 3px;
                border: 5px solid #F9DE4E;
                // margin: auto;
               text-align: left;
            }
        }

    }

    .divContact {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        
        height: 90%;
        padding: 10px;
       
        
        .listePhone {
            display:inline-flex;
            justify-content: space-between;
            list-style-type: none;
            
        }
    }
    .bottomLinks {
        display: flex;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 3;
        nav {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .listeBottomLinks {
                li {
                    justify-content: space-between;
                    margin: auto;
                    display: inline-flex;
                    list-style-type: none;
                    align-self: center;
                    
                }
            }
            .copyright {
                align-self: flex-end;
            }

        };
        
        
    }

}