.invoices {
    margin: 5% 10% 5% 10%;

    table {
        width: 77.67vw;

        th {
            background-color:#F9DE4E;
            height: 3.6vw;
        }
        .names, .company {
            width:18%;
        }
        .tva, .country, .comp, .invNum {
            width: 15%;
        }

        .mail {
            width:25%;
        }

        .phone, .type {
            width: 10%;
        }

        .date {
            width: 12%;
        }

        td {
            height: 3.6vw;
            
        }
        tr:nth-child(even) {
            background-color: #F5F5F5;
        }

        tr:nth-child(odd) {
            background-color: #FFF; 
        }
    }
}

@media screen and (min-width:320px) and (max-width:425px) {
    .invoices {
        margin: 5% 10% 5% 10%;
    
        table {
            width: 77.67vw;
    
            th {
                background-color:#F9DE4E;
                height: 3.6vw;
            }
            .company {
                width:24%;
            }
            .names {
                width: 23%;
            } 
            .country, .comp, .invNum {
                width: 20%;
            }

            .tva {
                width: 24%;
            }
    
            .mail {
                width:30%;
            }
    
            .phone, .type {
                width: 12%;
            }
    
            .date {
                width: 15%;
            }
        }
    }
}