.modalBackground {
  grid-row: 2;
  width: 100vw;
  height: 65vh;
  background-color: #F9DE4E;
  position: static;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 0;
    
.modalContainer {
  position: absolute;
  top: 32%;
  left: 25%;
  width: 50%;
  height : 50vh;
  border-radius: 12px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: flex-start;

    .title {
      display: inline-block;
      text-align: center;
      margin-bottom: 5%;
    }

    .titleCloseBtn {
      display: flex;
      justify-content: flex-end;

      .closeBtn {
          background-color: transparent;
          border: none;
          font-size: 20px;
          cursor: pointer;
      }
    } 

    .formLogin {
      display: flex;
      flex-direction: column;
      width: 30vw;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }
      
    .form-control {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }
    
    .form-control label {
      margin-bottom: 5px;
    }
    
    .form-control input {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    
    .submitLog, .sumbitReg {
      border-radius: 5px;
      padding: 3%;

      &:hover {
        background-color: #F9DE4E;
      }
    }

    .errorMsg {
      color: red;
      margin-top: 5px;
    }
  } 
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .modalBackground {
    width: 100vw;
    height: 70vh;
    
  .modalContainer {
      top: 20%;
      left: 22%;
    } 
  }
}