.user {
    .infos {
        border-bottom: 1px solid #CDCDCD;
        margin-left: 10%;
        margin-right:5%;
        padding-bottom: 3%;
        .name {
            margin-bottom: 0;
            position:relative;
            z-index:99;
        
            &::after {
                content:"";
                position:absolute;
                top:60%;
                left:13.7%;
                bottom: 0;
                height: 30%;
                width: 30%;
                background-color: #F9DE4E;
                z-index:-1;
            }
        }
        ul {
            padding-left: 0;
            li {
                list-style-type: none;
            }
        }
    }
    
    .contactInfo {
        border-bottom: 1px solid #CDCDCD;
        margin-left: 10%;
        margin-right:5%;
        padding-bottom: 8%;
        z-index:1;

        .contactPeople {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 3%;
            width: 95%;

            .people {
                display: flex;
                flex-direction: row;
                background-color: #F5F5F5;
                border-radius: 20px;
                align-items: center;
                padding: 3% 12% 3% 7%;
                gap: 2%;

                .contactPicture {
                    border-radius: 50%;
                    height: 10vw;
                }
            }
        }

        .calepin {
            height: 12vh;
            z-index:0;
            position:absolute;
            right: 0;
            
        }
    }

    .lastInvoices {
        margin-left: 10%;
        margin-right:5%;
        padding-bottom: 8%;

        .userLastInv {
            table {
                width: 98%;
                border-collapse: collapse;
        
                th {
                    background-color:#F9DE4E;
                    height: 3.6vw;
                }
                td {
                    height: 3.6vw;
                    
                }
                tr:nth-child(even) {
                    background-color: #F5F5F5;
                }
        
                tr:nth-child(odd) {
                    background-color: #FFF; 
                }
                .company {
                    width:18%;
                }
                .invNum {
                    width: 15%;
                }
        
                .date {
                    width: 12%;
                }
            }

        }
    }
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 0;
        width: 98%;
    
        button, .pageNbr {
            margin: 0 1em;
            padding: 0.5em 1em;
            border-radius: 5px;
            background-color: white;
            border: #C8CFD5 solid 2px;
            cursor: pointer;
            display: flex;
            width: 4vw;
            height: 4vw; 
            justify-content: center;
            align-items: center;
    
            &:disabled {
                background-color: #C8CFD5;
                cursor: not-allowed;
            }
        }

        .prevPage, .nextPage {
            svg {
                width: 2vw;
                height: 2vw;
                color:#F9DE4E;
            }
        }

        .currentPage {
            background-color: white;
            border:#F9DE4E solid 2px;
            color:#F9DE4E;
        }
    }
}