

section.infos {
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 37px -21px rgba(0, 0, 0, 0.25);



    // --------------  SCROLL START  --------------
    display: flex;
    flex-direction: column;
    overflow: scroll;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    // --------------  SCROLL END  --------------

    h3 {
        color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;  
        padding: 24px 30px;
        margin: 0;
    }

    .separate {
        height: 1px;
        background: #E0E0E0;
        margin: 0 30px;
    }

    .infos-container {
        margin: 24px 30px 50px;

        table {

            
            tr {
                text-align: left;
                height: 2rem;
                
                th {
                    color: #000;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    min-width: 180px;
                    &:first-of-type {
                        min-width: 90px;
                        max-width: 120px;
                    }
                    &:nth-of-type(3) {
                        min-width: 150px;
                    }
                }

                td {
                    color: #000;
                    font-family: Inter;
                    font-size: clamp(8px, 2.5vw, 15px);
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    &:first-of-type {
                        height: 30px;
                        max-width: 90px;
                        display: flex;
                        flex-direction: row;
                        .editDelete {
                            height: 20px;
                            width: 20px;
                            margin: auto 7px;
                            cursor: pointer;
                            border:none;
                            background-color: white;
                            svg {
                                filter: invert(67%) 
                                        sepia(65%) 
                                        saturate(527%) 
                                        hue-rotate(197deg) 
                                        brightness(88%) 
                                        contrast(88%);
                                &:hover {
                                    // filter: invert(31%) 
                                    //         sepia(45%) 
                                    //         saturate(1167%) 
                                    //         hue-rotate(206deg) 
                                    //         brightness(92%) 
                                    //         contrast(90%);
                                    filter: invert(68%) 
                                            sepia(37%) 
                                            saturate(5815%) 
                                            hue-rotate(316deg) 
                                            brightness(122%) 
                                            contrast(106%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (min-width: 1200px) {
    section.infos {    
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 580px;
    }
}
@media only screen and (min-width: 1500px) {
    section.infos {    
        flex-basis: 570px;
        .infos-container {
            table {
                tr {
                    td {
                        font-size: clamp(10px, .7vw, 20px);
                    }
                }
            }
        }
    }
}