.dashboard-sections {
    position: relative;
    z-index: 0;
    // background-color: red;
    max-width: 100%;
    // overflow-y: scroll;

    .dashboard-grid {
        // background-color: blue;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}


// @media only screen and (min-width: 1500px) {
//     .dashboard-sections {
//         .dashboard-grid {
//         }
//     }
// }