.dashboard-sections {
    position: relative;
    z-index: 0;
    max-width: 100%;

    .dashboard-grid {
        max-width: 100%;
        // display: grid;
        display: flex;
        // flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        // justify-content: space-around;
        gap: 50px;
    }
}


// @media only screen and (min-width: 1500px) {
//     .dashboard-sections {
//         .dashboard-grid {
//         }
//     }
// }