main.dashboard-main {
    z-index: 0;
    position: absolute;
    top: 50px;
    box-sizing: border-box;
    left: 50px;
    right: 50px;
    max-width: 90%;
    img {
        display: none;
        position: absolute;
        width: clamp(130px, 30vw, 300px);
        right: 4vw;
        object-fit: cover;   
    }
}

@media only screen and (min-width: 756px) {
    main.dashboard-main {
        img {
            display: block;
            top: 20px;
        }
    }
}
@media only screen and (min-width: 1024px) {
    main.dashboard-main {
        top: 0;
        left: 335px;
        img {
            top: 50px;
            width: clamp(130px, 20vw, 250px);
            max-height: 350px;
            right: 3vw;
        }
    }
}
@media only screen and (min-width: 1200px) {
    main.dashboard-main {
        img {
            top: 0;
            right: clamp(30px, 10vw, 50px);
            width: 350px;
        }
    }
}
