.navBarHeader {
    display: flex;
}

.headerDiv {
    background-color: #F9DE4E;
    display: flex;
    position:relative; 
    flex-direction: row;
    height : 10vh; 
    width: 100%;
    justify-content: center;
    
    

    .menuButton {
        background-color: #F9DE4E;
        position: absolute;
        padding: 10px;
        font-size: 24px;
        top: 10px;
        left: 10px;
        cursor:pointer;
        border: none;
        justify-content:center;
    }
    .ulHeaderLinks{
        display:none;
        // border-top: .0625rem solid #F9DE4E;
    }

    .ulHeaderLinks.is-open{
        display:block;
    }
    .ulTitleHeader {
        text-decoration: none;
        list-style-type: none;
        margin: auto; 
        text-decoration: none;
        
        .titleHeader{
            text-align: center;
            text-decoration: none;
            margin-right: 33px;
            list-style-type: none;
            
        }
        }


    .userButton {
        
            background-color: #F9DE4E;
            
            padding: 10px;
            font-size: 24px;
            top: 10px;
            left: 10px;
            cursor:pointer;
            border: none;
            justify-content:center;
    }

    .headerButtons {
        display: none;
    }
    .headerButtons.is-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }


}