.navBarHeader {
    display: flex;
}

.headerDiv {
    background-color: #F9DE4E;
    display: flex;
    position:relative; 
    justify-content: center;
    
    ul {
        li {
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
    }
    

    .menuButton {
        background-color: #F9DE4E;
        position: absolute;
        top: 50%; 
        left: 0; // Add this line
        transform: translateY(-50%);
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        border: none;
    }
    .ulHeaderLinks{
        display:none;
        
        // border-top: .0625rem solid #F9DE4E;
    }

    .ulHeaderLinks.is-open {
        display: block;
        position: absolute;
        top: 100%; // Adjust this line
        left: 0;
        z-index: 9999;
        list-style-type: none;
      
        li, a {
          text-decoration: none;
          color: black;
        }
      }

    .ulTitleHeader {


        .titleHeader, a{
            text-decoration: none;
            list-style-type: none;
            color : black;

        }
       
    }


    .userButton {
        background-color: #F9DE4E;
        position: absolute;
        top: 50%; 
        right: 0; // Add this line
        transform: translateY(-50%);
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        border: none;
    }

    .headerButtons {
        display: none;
    }
    .headerButtons.is-open{
        background-color: white;
            display: block;
            position: absolute;
            top: 100%; // Adjust this line
            right: 0;
            margin-right: 30px;
            z-index: 9999;
            list-style-type: none;
          
            li, a {
              text-decoration: none;
              color: black;
            }
          }
    }





@media screen {
    
}



@media screen {

}
